node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
ClinicTEL_List.json
MemberStoreList.json
CarParkList.json
.vscode/bookmarks.json
Server/.vscode/launch.json
20210412-ShareBuilding.xlsx
~$20210412-ShareBuilding.xlsx
0327-醫師公會-五個功能大項.sketch
app.json
