<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979461197026-a8lavm895ofcj12fqcgse6n49opkna1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979461197026-a8lavm895ofcj12fqcgse6n49opkna1e</string>
	<key>API_KEY</key>
	<string>AIzaSyAWIvgyFySMHhUsRxw3r-yVSsISVvBS9WY</string>
	<key>GCM_SENDER_ID</key>
	<string>979461197026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taipeidental.associationss</string>
	<key>PROJECT_ID</key>
	<string>taipeidentalclinic-f834a</string>
	<key>STORAGE_BUCKET</key>
	<string>taipeidentalclinic-f834a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979461197026:ios:2fd1c4eb79f331f14d62bb</string>
	<key>DATABASE_URL</key>
	<string>https://taipeidentalclinic-f834a-default-rtdb.firebaseio.com</string>
</dict>
</plist>